body{
    background: teal;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:paleturquoise;
}

.assignment img {
    width:200px;
    border: 2px solid #8C3D35;
    margin-right:20px;
}

h1{
    color:palegoldenrod;
    text-align: center;
}

a{
    text-decoration:none;
    color: #8C3D35;
}